include ../utils/run-result
include ./search-box
mixin header(type, url, title, secondTitle, distance)
    case type
        when 'arrow'
            header.header.header_arrow.container
                a.header__back-link(href= url)
        when 'arrow calendar'
            header.header.header_calendar.container
                a.header__back-link(href= url)
                .header__calendar
        when 'one title'
            header.header.header_one-title.container
                a.header__back-link(href= url)
                .header__title-section
                    h1.header__title-main= title
        when 'one title calendar'
            header.header.header_one-title.header_calendar.container
                a.header__back-link(href= url)
                .header__calendar
                .header__title-section
                    h1.header__title-main= title
        when 'one title calendar_off'
            header.header.header_one-title.header_calendar.container
                a.header__back-link(href= url)
                .header__calendar.header__calendar_off
                .header__title-section
                    h1.header__title-main= title
        when 'two titles'
            header.header.header_two-titles.container
                a.header__back-link(href= url)
                .header__title-section
                    h1.header__title-main= title
                    h2.header__title-second= secondTitle
                .header__run-distance= distance
        when 'person result'
            header.header.header_person-result.container
                a.header__back-link(href= url)
                .header__title-section
                    h1.header__title-main= title
                + run-result('person', '35', '01:24:31', '21065', 'Маргарита Захаржевська', 'жін', '1993')
                .header__run-distance= distance
        when 'img'
            header.header.header_img
                .container
                    a.header__back-link(href= url)
                .header__run-info
                    p.header__run-info-title Три медведя эстафета 10 км
                    p.header__run-info-description Lviv Nova Poshta Marathon
                    p.header__run-info-date 7.11.2022 р.
                    p.header__run-info-start 09:00
                    p.header__run-info-location Вул. Городоцька 10
        when 'main'
            header.header.header_main
                .container
                    + search-box('only search' ,'white')
        when 'card description'
            header.header.header_card-description
                .container
                    a.header__back-link(href= url)
                    .header__title-section
                        h1.header__title-main= title
                    .header__description
                        p.header__description-title 7 листопада 2021 р.
                        p.header__description-text
                        | Nova poshta Lviv Marathon в онлайн форматі!
                        | Ми будемо бігти в підтримку людей у боротьбі з епідемією.
                        br
                        | Об’єднуючись з усіх куточків країни, ми подолаємо разом тисячі кілометрів та фінішуватимемо до мети.
                        br
                        br
                        | Готуй кросівки і побігли — разом ми переможемо!
                        br
                        | Вмикай пульс свого життя!