mixin run-result(type, id, time, code, fio, gender, year)
    - classel = ''
    if (type === 'person')
        - classes= 'person'
    .run-result(class= classes)
        .run-result__col-1
            p.run-result__id= id
        .run-result__col-2
            p.run-result__time= time
            p.run-result__code= code
        .run-result__col-3
            a.run-result__fio(href='./completed-run-person-result.html')= fio
            .run-result__dop-info
                p.run-result__dop-info-gender= gender
                p.run-result__dop-info-year= year